[submodule "vim/bundle/command-t"]
	path = vim/pack/search/start/command-t
	url = https://github.com/wincent/command-t.git
[submodule "vim/bundle/detectindent"]
	path = vim/pack/indenting/start/detectindent
	url = https://github.com/ciaranm/detectindent.git
[submodule "vim/buftabs"]
	path = vim/pack/indenting/start/buftabs
	url = https://github.com/vim-scripts/buftabs.git
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/pack/git/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-endwise"]
	path = vim/pack/tools/start/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/bundle/syntastic"]
	path = vim/pack/tools/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim/bundle/vim-terraform"]
	path = vim/pack/terraform/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "vim/bundle/i3-vim-syntax"]
	path = vim/pack/i3/start/i3-vim-syntax
	url = https://github.com/PotatoesMaster/i3-vim-syntax.git
[submodule "vim/bundle/vim-chef"]
	path = vim/pack/ruby/start/vim-chef
	url = https://github.com/vadv/vim-chef.git
[submodule "vim/bundle/indentLine"]
	path = vim/pack/indenting/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "vim/bundle/vim-git"]
	path = vim/pack/git/start/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "vim/bundle/vim-sensible"]
	path = vim/pack/tools/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/bundle/vim-ruby"]
	path = vim/pack/ruby/start/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/vim-surround"]
	path = vim/pack/tools/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/pack/search/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/bundle/vim-go"]
	path = vim/pack/go/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/bundle/vim-swap"]
	path = vim/pack/tools/start/vim-swap
	url = https://github.com/machakann/vim-swap.git
[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "vim/bundle/vim-github-colorscheme"]
	path = vim/pack/git/start/vim-github-colorscheme
	url = https://github.com/endel/vim-github-colorscheme.git
[submodule "vim/bundle/ansible-vim"]
	path = vim/pack/ansible/start/ansible-vim
	url = https://github.com/pearofducks/ansible-vim.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/pack/markdown/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "zsh/k"]
	path = zsh/k
	url = https://github.com/supercrabtree/k.git
[submodule "vim/pack/colors/start/papercolor-theme"]
	path = vim/pack/colors/start/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule "tmux/plugins"]
	path = tmux/plugins/tmux-thumbs
	url = https://github.com/fcsonline/tmux-thumbs.git
[submodule "vim/pack/tools/start/nerdtree"]
	path = vim/pack/tools/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
