[submodule "dotfiles/zsh/zsh-syntax-highlighting"]
	path = dotfiles/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "dotfiles/zsh/zsh-autosuggestions"]
	path = dotfiles/zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "dotfiles/zsh/k"]
	path = dotfiles/zsh/k
	url = https://github.com/supercrabtree/k.git
[submodule "dotfiles/tmux/plugins"]
	path = dotfiles/tmux/plugins/tmux-thumbs
	url = https://github.com/fcsonline/tmux-thumbs.git
[submodule "dotfiles/tmux/plugins/tmux-thumbs"]
	path = dotfiles/tmux/plugins/tmux-thumbs
	url = https://github.com/fcsonline/tmux-thumbs.git
[submodule "dotfiles/zsh/zsh-autocomplete"]
	path = dotfiles/zsh/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
